{% extends 'store/Main.html' %}
{% block content %}
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-picture">
            <img class="profile-image" src="{{ profile.profile_picture.url }}" alt="Profile picture unavailable">
                <a href="{% url 'logout' %}" class="profile-btn" style="margin: 0">Log Out</a>
            </div>
                <div class="profile-details">
                    <p>First Name: {{ profile.first_name }}</p>
                    <p>Last Name: {{ profile.last_name }}</p>
                    <p>Email: <a href="#">{{ profile.user.email }}</a></p>
                    <p>Mobile number: <a href="#"> {{ profile.tel_number }}</a></p>
                </div>
            <div class="profile-btns">
            <a href="#" class="profile-btn">Edit Profile</a>
            <a href="#" class="profile-btn">Delete Profile</a>
            </div>
            </div>
        </div>
    <form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
<input type="submit">
    </form>
{% endblock %}

