{% extends 'store/Main.html' %}
{% block content %}
    <div class="details-container">
    <div class="profile-card">
    <form class="edit_profile_form" style="text-align: center" method="post">
        {{ form.as_table }}
        {% csrf_token %}
        <input style="width: 100px;" type="submit"value="LogIn">
    </form>
        <p style="font-size: 0.7em;text-align: center">Still don't have an account. <a style="color: dodgerblue" href="{% url 'registration' %}">Create now.</a></p>
        <p style="font-size: 0.7em;text-align: center">Forgot Password. <a style="color: dodgerblue" href="{% url 'reset_password' %}">Reset now.</a></p>
    </div>
    </div>
{% endblock %}

