{% extends 'store/Main.html' %}
{% load static %}
<script src="{% static 'JS/slider.js' %}"></script>
{% block content %}
    <div class="details-container">
        <div class="product-details">
            <div class="gallery">
                <div class="slideshow-container">
                    {% for pic in pictures %}
                        {% if forloop.counter0 != 0 %}

                            <div class="mySlides fade" style="display: none">
                                <div class="numbertext">{{ forloop.counter }} / {{ pictures.count }}</div>
                                <img class="details-pict" src="{{ pic.picture.url }}"
                                     style="width:100%;border-radius: 20px"
                                     alt="Picture unavailable">

                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                            </div>
                        {% else %}
                            <div class="mySlides fade" style="display: flex">
                                <div class="numbertext">{{ forloop.counter }} / {{ pictures.count }}</div>
                                <img class="details-pict" src="{{ pic.picture.url }}"
                                     style="width:100%; border-radius: 20px"
                                     alt="Picture unavailable">

                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                            </div>
                        {% endif %}
                    {% endfor %}




                    <div style="text-align:center">
                        {% for i in range %}
                            <span class="dot" onclick="currentSlide({{ i }})"></span>


                        {% endfor %}
                    </div>
                </div>
                <div class="details-description">
                    <div style="font-weight: bolder">
                        Description:
                    </div>
                    <div class="details-description-text">
                        <p>{{ product.description }}</p>

                    </div>
                </div>

            </div>
            <div class="item-description-right">


                <p>Brand: &nbsp;{{ product.brand }}</p>
                <p>Price: ${{ product.price|floatformat:'2' }}</p>
                <form method="post" action="{% url 'add_to_cart' product.product_id %}">
                    {% csrf_token %}

                    {{ cart_form.as_ul }}
                    {% csrf_token %}
                    <input class="buy-button" type="submit" value="Add to cart">
                </form>

                <a class="liked-button" href="javascript:like()" id="liked"><i class="fa fa-solid fa-heart"></i></a>

            </div>
        </div>
    </div>

{% endblock %}
