{% extends 'store/Main.html' %}
{% load static %}
{% load auth_extras %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block content %}
    <div class="content-container">
        <div class="main-page" id="main-page">
            <div class="main-top-center">
                <a href="javascript:show_filters()" class="filter-icon"><i class="fa fa-solid fa-filter"
                                                                           id="filter-btn"></i>Categories</a>
                <a style="display: none" id="category-text">All items</a>
                <p style="text-align: center; font-weight: bolder;font-size: 1.1em">{{ data.category }}</p>
            </div>
            <div class="middle">
                <div class="main-left" id="filter-funcs">
                    <ul style="display: grid; font-weight: bold">
    <li id="mens-cat" style="display: block">
        <a href="javascript:category('Men')">Men</a>
    </li>
    <li id="women-cat" style="display: block">
        <a href="javascript:category('Women')">Women</a>
    </li>
    <li id="kids-cat" style="display: block">
        <a href="javascript:category('Kids')">Kids</a>
    </li>
</ul>
<ul id="categories" style="display: none;list-style: none;font-weight: bold">
    <li>
        <a href="javascript:red()" onclick="searchc('Shirts')">Shirts</a>
    </li>
    <li>
        <a href="javascript:red()" onclick="searchc('Jeans')">Jeans</a>
    </li>
    <li>
        <a href="javascript:red()" onclick="searchc('Jackets')">Jackets</a>
    </li>
    <li>
        <a href="javascript:red()" onclick="searchc('Tops')">Tops</a>
    </li>
</ul>
                </div>

                <div class="main-right" id="items-iter">
                {% if data.products %}
                    {% for item in data.products %}
                        <div class="main-item" onmouseover="show_product_det('{{ item.product_id }}')"
                             onmouseout="hide_product_det('{{ item.product_id }}')">
                            <img class="thumbnail" src="{{ item.pictures.first.picture.url }}"
                                 id="img{{ item.product_id }}"
                                 alt="Picture unavailable">
                            <p class="thumbnail-text" id="thumbnail-text{{ item.product_id }}">{{ item.brand }}--{{ item.title }}</p>
                            <div class="item-description" id="item-description{{ item.product_id }}">
                                <h6><strong>{{ item.description|truncatechars:30 }}</strong></h6>
                                <hr>
                                {% if user|has_group:'managers' or user.is_superuser%}
                                <a class="btn btn-outline-success" href="{% url 'edit_product' item.product_id %}">Edit</a>
                                {% endif %}
                                <a class="btn btn-outline-success" href="{% url 'product_details' item.product_id %}">View</a>
                            <a class="btn btn-outline-success" href="{% url 'delete_product' item.product_id %}">Delete</a>
                                <h4 style="display: inline-block; float: right">
                                    <strong>${{ item.price|floatformat:'2' }}</strong></h4>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>Sorry.  No content in this category yet.</h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="banner" id="banner">
            <h1>Welcome</h1>
            <a href="javascript:close_banner()">Close</a>
        </div>
    </div>
{% endblock %}
