.details-container{
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    flex-wrap: wrap;
}
.product-details{
    overflow-y: auto;
    margin-top: 6rem;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    background: rgba(255, 255, 255, 0.49);
    box-shadow: -8px -2px 28px -8px #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.3em;
    backdrop-filter: blur(10px);
    height: 700px;
    margin-bottom: 6rem;
    width: 80%;
}
.gallery {
    float: left;
    max-width: 70%;
}
.product-details img{
    max-width: 580px;
}

.details-description{
    margin: 5px 10px;

}
.details-description-text{
    margin-left: 10px;
    font-size: 0.7em;
}
.details-description-text p{
    margin: 0;
}
.item-description-right{
    text-align: left;
}
.buy-button{
    text-decoration: none;
    background: rgba(139, 195, 74, 0.68);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 5px 25px 5px 25px;
}
.buy-button text{
    margin-right: 5px;
}
.buy-button-wrapper{
    background: rgba(139, 195, 74, 0.68);
    border-radius: 20px;
    width: 248px;
    height: auto;
    float: right;
    text-align: center;
    position: absolute;
    right: 10%;
    margin: 10px;
    color: white;
    font-weight: bold;

}
.buy-button:hover{
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.56));
}
.liked-button{
    margin: 10px;
    color: black;
}
.selection{
    border-radius: 20px;
    cursor: grab;
    height: 25px;
    border: 1px dotted;
    font-size: 1em;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}
.selection option{
    margin-left: 5px;
    margin-right: 5px;
}
select {
  -webkit-appearance: none;
}

.edit_profile_form input{
    border-radius: 20px;
    font-size: 1em;
    padding: 2px 2px 2px 4px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
    color: #616161;
    font-family: monospace;
    width: 100%;
}
.edit_profile_form #profile_picture-clear_id{
    display: none;
}
#save-btn{
    width: 90px;
}
