.edit-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.edit-card{
    margin-top: 6rem;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(217, 212, 211, 0.82);
    box-shadow: -8px -2px 28px -8px #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.3em;
    backdrop-filter: blur(10px);
    height: 700px;
    margin-bottom: 6rem;
    width: 80%;
    align-items: center;
    overflow-y: auto;
}
.edit_product_form input{
    border-radius: 20px;
    font-size: 1em;
    padding: 2px 2px 2px 4px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
    color: #616161;
    font-family: monospace;
    width: 100%;
}
.edit_product_form textarea{
    border-radius: 20px;
    font-size: 1em;
    padding: 2px 2px 2px 4px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
    color: #616161;
    font-family: monospace;
    width: 100%;
}
#save-btn{
    width: 90px;
}
.edit_product_form p{
    margin: 2px;
}
#id_size{
    font-size: 0.8em;
    display: flex;
    margin-left: 5px;
}
.edit_product_form select {
    border-radius: 20px;
    font-size: 1em;
    padding: 2px 2px 2px 4px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
    color: #616161;
    font-family: monospace;
    width: 100%;
}
